<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Setting Css -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet" />
    <link rel="icon" type="imgage/png" href="img/favicon.png" />
    <!-- Css -->
    <link rel="stylesheet" href="/static/css/settings/setting.css" />
    <link rel="stylesheet" href="/static/css/nav.css" />
    <link rel="stylesheet" href="/static/css/intro.css" />
    <link rel="stylesheet" href="/static/css/display.css" />
    <link rel="stylesheet" href="/static/css/keyboard.css" />
    <link rel="stylesheet" href="/static/css/submit.css" />
    <title>Hello, world!</title>
  </head>
  <body>
    <!-- Nav -->
    <section id="nav">
      <div class="nav__logo">
        <i class="far fa-gem"></i>
      </div>
    </section>
    <section id="intro">
      숫자 6개를 선택하세요.
    </section>
    <!-- Display -->
    <section id="display">
      <div class="balls">
        <div class="ball">1</div>
        <div class="ball">2</div>
        <div class="ball">3</div>
        <div class="ball">4</div>
        <div class="ball">5</div>
        <div class="ball">6</div>
      </div>
    </section>
    <!-- Keyboard -->
    <section id="keyboard">
      <div class="keyboard__left">
        <!-- line -->
        <div class="keyboard__line">
          <div class="keyboard__num">1</div>
          <div class="keyboard__num">2</div>
          <div class="keyboard__num">3</div>
          <div class="keyboard__num">4</div>
          <div class="keyboard__num">5</div>
          <div class="keyboard__num">6</div>
          <div class="keyboard__num">7</div>
        </div>
        <!-- line -->
        <div class="keyboard__line">
          <div class="keyboard__num">8</div>
          <div class="keyboard__num">9</div>
          <div class="keyboard__num">10</div>
          <div class="keyboard__num">11</div>
          <div class="keyboard__num">12</div>
          <div class="keyboard__num">13</div>
          <div class="keyboard__num">14</div>
        </div>
        <!-- line -->
        <div class="keyboard__line">
          <div class="keyboard__num">15</div>
          <div class="keyboard__num">16</div>
          <div class="keyboard__num">17</div>
          <div class="keyboard__num">18</div>
          <div class="keyboard__num">19</div>
          <div class="keyboard__num">20</div>
          <div class="keyboard__num">21</div>
        </div>
        <!-- line -->
        <div class="keyboard__line">
          <div class="keyboard__num">22</div>
          <div class="keyboard__num">23</div>
          <div class="keyboard__num">24</div>
          <div class="keyboard__num">25</div>
          <div class="keyboard__num">26</div>
          <div class="keyboard__num">27</div>
          <div class="keyboard__num">28</div>
        </div>
      </div>
      <div class="keyboard__right">
        <!-- line -->
        <div class="keyboard__line">
          <div class="keyboard__num">29</div>
          <div class="keyboard__num">30</div>
          <div class="keyboard__num">31</div>
          <div class="keyboard__num">32</div>
          <div class="keyboard__num">33</div>
          <div class="keyboard__num">34</div>
          <div class="keyboard__num">35</div>
        </div>
        <!-- line -->
        <div class="keyboard__line">
          <div class="keyboard__num">36</div>
          <div class="keyboard__num">37</div>
          <div class="keyboard__num">38</div>
          <div class="keyboard__num">39</div>
          <div class="keyboard__num">40</div>
          <div class="keyboard__num">41</div>
          <div class="keyboard__num">42</div>
        </div>
        <!-- line -->
        <div class="keyboard__line">
          <div class="keyboard__num">43</div>
          <div class="keyboard__num">44</div>
          <div class="keyboard__num">45</div>
          <div class="keyboard__num padding"></div>
          <div class="keyboard__num padding"></div>
          <div class="keyboard__num padding"></div>
          <div class="keyboard__num padding"></div>
        </div>
      </div>
    </section>

    <section id="submit">
      <div class="submit__btn">
        <button id="submitBtn">결과 확인하기</button>
      </div>
    </section>

    <section class="footer"><section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
