<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Setting Css -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet" />
    <link rel="icon" type="imgage/png" href="img/favicon.png" />
    <!-- Css -->
    <link rel="stylesheet" href="/static/css/settings/setting.css" />
    <link rel="stylesheet" href="/static/css/nav.css" />
    <link rel="stylesheet" href="/static/css/intro.css" />
    <link rel="stylesheet" href="/static/css/display.css" />
    <link rel="stylesheet" href="/static/css/keyboard.css" />
    <link rel="stylesheet" href="/static/css/submit.css" />
    <title>Hello, world!</title>
  </head>
  <body>
    <!-- Nav -->
    <section id="nav">
      <div class="nav__logo">
        <i class="far fa-gem"></i>
      </div>
    </section>
    <section id="intro" >
      <a href="#">숫자 6개를 선택하세요.</a>
    </section>
    <!-- Display -->
    <section id="display">
      <div class="balls">
        <div class="ball" data-ballNum="0"></div>
        <div class="ball" data-ballNum="1"></div>
        <div class="ball" data-ballNum="2"></div>
        <div class="ball" data-ballNum="3"></div>
        <div class="ball" data-ballNum="4"></div>
        <div class="ball" data-ballNum="5"></div>
        <div class="ball" data-ballNum="6"></div>
      </div>
    </section>
    <!-- Keyboard -->
    <section id="keyboard">
      <div class="keyboard__left">
        <!-- line -->
        <div class="keyboard__line">
          <div class="keyboard__num" data-keyNum="1">1</div>
          <div class="keyboard__num" data-keyNum="2">2</div>
          <div class="keyboard__num" data-keyNum="3">3</div>
          <div class="keyboard__num" data-keyNum="4">4</div>
          <div class="keyboard__num" data-keyNum="5">5</div>
          <div class="keyboard__num" data-keyNum="6">6</div>
          <div class="keyboard__num" data-keyNum="7">7</div>
        </div>
        <!-- line -->
        <div class="keyboard__line">
          <div class="keyboard__num" data-keyNum="8">8</div>
          <div class="keyboard__num" data-keyNum="9">9</div>
          <div class="keyboard__num" data-keyNum="10">10</div>
          <div class="keyboard__num" data-keyNum="11">11</div>
          <div class="keyboard__num" data-keyNum="12">12</div>
          <div class="keyboard__num" data-keyNum="13">13</div>
          <div class="keyboard__num" data-keyNum="14">14</div>
        </div>
        <!-- line -->
        <div class="keyboard__line">
          <div class="keyboard__num" data-keyNum="15">15</div>
          <div class="keyboard__num" data-keyNum="16">16</div>
          <div class="keyboard__num" data-keyNum="17">17</div>
          <div class="keyboard__num" data-keyNum="18">18</div>
          <div class="keyboard__num" data-keyNum="19">19</div>
          <div class="keyboard__num" data-keyNum="20">20</div>
          <div class="keyboard__num" data-keyNum="21">21</div>
        </div>
        <!-- line -->
        <div class="keyboard__line">
          <div class="keyboard__num" data-keyNum="22">22</div>
          <div class="keyboard__num" data-keyNum="23">23</div>
          <div class="keyboard__num" data-keyNum="24">24</div>
          <div class="keyboard__num" data-keyNum="25">25</div>
          <div class="keyboard__num" data-keyNum="26">26</div>
          <div class="keyboard__num" data-keyNum="27">27</div>
          <div class="keyboard__num" data-keyNum="28">28</div>
        </div>
      </div>
      <div class="keyboard__right">
        <!-- line -->
        <div class="keyboard__line">
          <div class="keyboard__num" data-keyNum="29">29</div>
          <div class="keyboard__num" data-keyNum="30">30</div>
          <div class="keyboard__num" data-keyNum="31">31</div>
          <div class="keyboard__num" data-keyNum="32">32</div>
          <div class="keyboard__num" data-keyNum="33">33</div>
          <div class="keyboard__num" data-keyNum="34">34</div>
          <div class="keyboard__num" data-keyNum="35">35</div>
        </div>
        <!-- line -->
        <div class="keyboard__line">
          <div class="keyboard__num" data-keyNum="36">36</div>
          <div class="keyboard__num" data-keyNum="37">37</div>
          <div class="keyboard__num" data-keyNum="38">38</div>
          <div class="keyboard__num" data-keyNum="39">39</div>
          <div class="keyboard__num" data-keyNum="40">40</div>
          <div class="keyboard__num" data-keyNum="41">41</div>
          <div class="keyboard__num" data-keyNum="42">42</div>
        </div>
        <!-- line -->
        <div class="keyboard__line">
          <div class="keyboard__num" data-keyNum="43">43</div>
          <div class="keyboard__num" data-keyNum="44">44</div>
          <div class="keyboard__num" data-keyNum="45">45</div>
          <div class="keyboard__num padding"></div>
          <div class="keyboard__num padding"></div>
          <div class="keyboard__num padding"></div>
          <div class="keyboard__num padding"></div>
        </div>
      </div>
    </section>



    <section class="footer"><section>
    <!-- Optional JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/lotto.js"></script>
  </body>
</html>
