@import "./settings/responsive.scss";
.balls {
  display: flex;
  max-width: 1200px;
  height: 21vh;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  /*   background-color: #f0f0f0; */
}
.ball {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 30px;
  color: white;
  /* background: linear-gradient(to right, white, lightgray); */
  box-shadow: 1.2px 1.2px 1.2px 1.2px black;
}

@include onlyMobile {
  .ball {
    width: 50px;
    height: 50px;
  }
}
@include onlyTablet {
  .ball {
    width: 100px;
    height: 100px;
  }
}
