/* Responsive breakpoint */
/* Winnig number color */
.balls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  height: 21vh;
  margin: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: chocolate;
}

.ball {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: darkgrey;
}

@media (max-width: 757px) {
  .ball {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 758px) and (max-width: 1024px) {
  .ball {
    width: 100px;
    height: 100px;
  }
}
